.user-card-admin{
 margin-bottom: 20px;   
 border-radius: 10px;
}

.user-card-admin{
    font-size: 18px;
    line-height: 5px;
    letter-spacing: -0.015em;
    padding: 15px 0px 0px 18px;
}

.email-card-admin{
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.015em;
    color: #9E9E9E;  
    padding: 0px 0px 17px 18px;
}

.btn-edit{
    color: #9E9E9E; 
}