.category-card-admin{
margin-bottom: 20px;   
 border-radius: 10px;
}

.category-card-admin{
    font-size: 24px;
    line-height: 15px;
    letter-spacing: -0.015em;
    padding: 10px 0px 0px 18px;

}